

<div class="panel panel-default">
        <div class="panel-heading">
          
        </div>
        <div class="panel-body">
           
                            <div class="form-group">
                                    <label for="roomtype">RoomType</label>
                                    <input class="form-control" type="text" required [(ngModel)]="roomdetails.roomtype" name="roomdetails">
                            </div>
                      
                        <button class="button" (click)="updateRoomPrice(roomdetails)">UpdateOffer</button>
    
        </div>
    </div>