<!--The content below is only a placeholder and can be replaced.-->

<div class="title-div" style="text-align:center">
  <h1>
   ! WELCOME TO {{ title }} !<hr>
  </h1>
  
  <img width="300" alt="HOTEL LOGO" src="assets/images/himage.jpg">
  <hr>
</div>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<nav>
    <ul>
      <li><h1><a routerLink="/addroomdetail" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a></h1></li>
      <li><h1><a routerLink="/deleteroomdetail" class="btn btn-primary active" role="button" routerLinkActive="active">delete</a></h1></li>
      <li><h1><a routerLink="/updateroomdetail" class="btn btn-primary active" role="button" routerLinkActive="active">update_price</a></h1></li>
      <li><h1><a routerLink="/updateroomwithoffers" class="btn btn-primary active" role="button" routerLinkActive="active">update_offers</a></h1></li>
    </ul>
    </nav>
    <div class="slider-holder">

  
</div>
<router-outlet></router-outlet>
